:root {
    --black: #000;
    --text-1: #fff;
    --text-2: #b2b2b2;
    --border-content: #333;
    --light-bg-color: #dfdfdf;
    --btn-background-color-1: #FBB803;
    --btn-background-color-2: #06bc37;
    --btn-background-hover-1: #dda201;
    --btn-color-1: #000;
}

body.light-theme {
    background-color: var(--light-bg-color);
}

.light-theme .btn-active {
    background-color: var(--btn-background-color-2);
}


.light-theme .content {
    border: 1px solid var(--border-content);
}